@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
html {
    height: 600px;
    width: 600px;
    overflow: hidden;
}
.hide {
    display: none;
}
.page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.pageTabs {
    background-color: #FBF5F3;
}
.page-title {
    position: absolute;
    top: 10px;
    left: 60px;
    width: 480px;
    text-align: center;
    font-size: 30px;
    font-family: "Mulish";
}
#pageTabs-title {
    color: #000022;
}
.page-controlLeft {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
}:hover {
    cursor: pointer;
}
.page-controlRight {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
}:hover {
    cursor: pointer;
}
.page-donate {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}:hover {
    cursor: pointer;
}

/* pageTabs */

.pageTabs-tabs {
    position: absolute;
    top: 60px;
    height: 470px;
    width: 540px;
    left: 30px;
    overflow-y: scroll;
}
.pageTabs-tabs::-webkit-scrollbar {
    width: 1.5px;
    background-color: transparent;
}
.pageTabs-tabs::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #000022;
}
.pageTabs-tab {
    position: relative;
    margin: 0;
    width: 520px;
    height: 60px;
    border: solid 1px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.pageTabs-tab-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
}
.pageTabs-tab-title {
    position: relative;
    margin-left: 60px;
    font-size: 20px;
    font-family: "Mulish";
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
}
.pageTabs-tab-link {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
}
.pageTabs-tab:hover {
    cursor: pointer;
}

/* pageBookmarks */

.pageBookmarks {
    background-color: #000022;
}
#pageBookmarks-title {
    color: #e28413;
}
.pageBookmarks-marks {
    position: absolute;
    top: 60px;
    height: 470px;
    width: 540px;
    left: 30px;
    overflow-y: scroll;
}
.pageBookmarks-marks::-webkit-scrollbar {
    width: 1.5px;
    background-color: transparent;
}
.pageBookmarks-marks::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #e28413;
}
.pageBookmarks-mark {
    position: relative;
    margin: 0;
    width: 520px;
    height: 60px;
    border: solid 1px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.pageBookmarks-mark-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
}
.pageBookmarks-mark-title {
    position: relative;
    margin-left: 60px;
    font-size: 20px;
    font-family: "Mulish";
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
    color: #e28413;
}
.pageBookmarks-mark-delete {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
}
.pageBookmarks-mark:hover {
    cursor: pointer;
}